@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Raleway:wght@100&family=Roboto+Condensed:wght@300&display=swap');


.conteudo{
    background-color: #ffe5d9;
    font-family: 'Montserrat', sans-serif;
    width: 50%; 
    margin:auto;
    padding-left:15px;
    padding-right:15px;
    padding-top: 5px;
    padding-bottom:5px;
}


.data{
    color: blue;
}
